
@media (max-width: 1200px){
    .header__stolb h4{
        margin-right: 100px;
        margin-left: 20px;
    }
    .nav__text a h3{
        margin-right: 45px;
        font-size: 18px;
        margin-top: 8px;
    }
    .stolb__img img{
        right: 50px;
        width: 300px;
        top: 310px;
    }
    .row{
        justify-content: center;
    }
    .logo a img{
        width: 48px;
        margin-right: 70px;
    }
    .sec__text img{
        display: none;
    }
    .yt,
    .vk,
    .inst,
    .tg{
        margin-right: 110px;
        font-size: 100px;
    }
   .icon a img{
       width: 100px;
       margin-top: 30px;
   }
   footer h4{
       margin-left: 30%;
   }
}
@media (max-width: 991px){
    .logo{
        display: flex;
        justify-content: center;
        margin-top: -5px;
    }
    nav .container{
        display: block;
    }
    .nav__text{
        margin-top: -5px;
    }
    .header__stolb h4{
        margin-right: 60px;
        margin-left: 20px;
        margin-top: 85px;
        margin-bottom: 70px;
        font-size: 23px;
    }
    .logo a span,
    .logo a h1{
        font-size: 30px;
        margin-top: 12px;
    }
    .logo a img{
        width: 40px;
        margin-right: 50px;
        margin-top: 12px;
    }
    .nav__text a h3{
        margin-right: 25px;
        font-size: 16px;
        font-weight: bold;
    }
    .stolb__img img{
        right: -8px;
        width: 250px;
        top: 274px;
    }
    .header__text h2,
    .header__text h2 span{
        font-size: 40px;
        display: flex;
        margin-left: 15px;
    }
    .header__gta h3{
        font-size: 35px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .header__gta h3 span{
        height: 19px;
    }
    .header__text h5{
        margin-top: 30px;
    }
    .yt,
    .vk,
    .inst,
    .tg{
        margin-right: 70px;
        font-size: 90px;
    }
   .icon a img{
       width: 90px;
       margin-top: 27px;
   }
   footer h4{
       margin-left: 30%;
   }
}
@media (max-width: 767px){
 .stolb__img img{
     display: none;
 }   
 .header__text h2{
     width: -100px;
     font-size: 32px;
 }
 .header__text h2 span{
     font-size: 32px;
 }
 .header__text button{
    margin: 35px auto 0 150px;
 }
 .header__text h5{
     margin-right: 120px;
     margin: 0 auto;
     
 }
 .header__stolb h4{
     margin-top: 50px;
     margin-right: 50px;
 }
 .sec__text h3{
     font-size: 20px;
 }
 .yt,
    .vk,
    .inst,
    .tg{
        margin-right: 55px;
        font-size: 75px;
    }
   .icon a img{
       width: 75px;
       margin-top: 23px;
   }
   footer h4{
       margin-left: 21%;
   }
}
@media (max-width: 575px){
    .nav__text a h3{
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .nav__text{
        width: 250px;
    }
    .cvadrat{
        width: 250px;
        height: 250px;
        
    }
    .cvadrat a img{
        width: 215px;
    }
    .cvadrat a h3{
        font-size: 22px;
        text-align: center;
    }
    .palace h3{
        font-size: 27px;
    }
    .header__stolb{
        display: flex;
        flex-wrap: wrap;
        width: 320px;
        
    }
    .header__text button{
        width: 170px;
        height: 40px;
        font-size: 15px;
        margin: 35px 0 0 80px;
    }   
    .header__text{
        
    }
    .header__text h2{
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        font-size: 28px;
        justify-content: center;
        
    }
    .header__text h2 span{
        margin-top: -4px;
    }
    .header__gta h3{
        font-size: 28px;
    }
    .header__gta h5{
        font-size: 13px;
        margin-top: 20px;
    }
    .contact{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
    }
       
    .yt,
    .vk,
    .inst,
    .tg{
        margin-right: 40px;
        font-size: 65px;
    }
   .icon a img{
       width: 65px;
       margin-top: 20px;
   }
   footer h4{
       
       font-size: 15px;
       width: 280px;
       text-align: center;
   }
}
